.left-align {
    text-align: left;
}

section.twoColumns p span {
    width: 78%;
    float:left;
    display:block;
    text-align:left;
}

section.twoColumns p span.blue {
    clear: left;
    width: 22%;
}

.img-small {
    width: 250px;
}

.img-med {
    width: 500px;
}

.reveal .short-code {
    width: 200px;
    display: inline-block;
}

.button-styled {
    color: #f05b62;
    font-size: 30px;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid #f05b62;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-styled:hover {
    background: #f05b62;
    color: white;
}
